<h1>Product information</h1>
<h2>Name: <%= @product.name %></h2>
<h4>Price: <%= @product.price %></h4>
<p>Description: <%= @product.description %></p>
<p>Supplier: <%= @product.supplier_id %></p>

<a href ="/products/<%= @product.id %>/edit">Edit product</a>
<a href="/products">All products</a> 